.DS_Store
project.private.config.json
miniprogram_npm/
node_modules/
*.log
.env*
*.p12
*.mobileprovision
build/
DerivedData/
xcuserdata/
*.xcuserstate
.vscode/
.idea/
coverage/
tmp/
*.tmp
*.bak_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]
